
* {
  font-family: "Georgia", serif;
}
h1 {
  font-weight: 900;
}
body{
  background-color: rgb(184, 88, 88);
}
.page{
  width: auto;    
  background-color: white;   
  margin: auto;
  padding: 50px;
  padding-top: 35px;
}
.vis-container{
  width: 100%;
}
.description h2, h1{
  margin-top:0px;
}
.description-right {
  padding-left: 20px;
}
.description-left{
  padding-right: 20px;
}
.pure-g{
  margin-top: 50px;
}
.small-font{
  font-size: 14px;
}
.center{
  text-align: center;
}

form.vega-bindings{
  position: absolute;
  right: 30px;
  top: 0;
  font-size: 14px;
}